.thumbnail{
    width: 100%;
}

.video-title{
    font-family: roboto,Arial ;
    font-weight: 500;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.channel-name,
.video-details{

    color: rgb(96, 96, 96);
    margin-bottom: 0px;
}
.channel-name{
    margin-top: 5px;
}
.video-details{
    margin-top: 3px;

}
.channel-icon{

    width: 80%;
    display: inline-block;
    border-radius: 50px;
}
.channel{
    display:inline-block;
    width: 50px;
    vertical-align: top;

}
.channel-info{
    display: inline-block;
    width: 200px;
}
.info{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.grid-video
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
